<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <%- include('../partials/nav') %>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <%- include('../partials/top_nav') %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Contacts Design</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="col-md-12 col-sm-12  text-center">
                        <ul class="pagination pagination-split">
                          <li><a href="#">ㄱ</a></li>
                          <li><a href="#">ㄴ</a></li>
                          <li><a href="#">ㄷ</a></li>
                          <li><a href="#">ㄹ</a></li>
                          <li><a href="#">ㅁ</a></li>
                          <li><a href="#">ㅂ</a></li>
                          <li><a href="#">ㅅ</a></li>
                          <li><a href="#">ㅇ</a></li>
                          <li><a href="#">ㅈ</a></li>
                          <li><a href="#">ㅊ</a></li>
                          <li><a href="#">ㅋ</a></li>
                          <li><a href="#">ㅌ</a></li>
                          <li><a href="#">ㅍ</a></li>
                          <li><a href="#">ㅎ</a></li>
                        </ul>
                      </div>

                      <div class="clearfix"></div>

                      <% contacts.forEach(function(contact) { %>
                        <div class="col-md-4 col-sm-4  profile_details">
                          <div class="well profile_view">
                            <div class="col-sm-12">
                              <h4 class="brief"><i><%= contact.role %></i></h4>
                              <div class="left col-md-7 col-sm-7">
                                <h2><%= contact.name %></h2>
                                <p><strong>About: </strong> <%= contact.etc %> </p>
                                <ul class="list-unstyled">
                                  <li><i class="fa fa-building"></i> Address: <%= contact.address %></li>
                                  <li><i class="fa fa-phone"></i> Phone #: <%= contact.phone %></li>
                                </ul>
                              </div>
                              <div class="right col-md-5 col-sm-5 text-center">
                                <img src="images/img.jpg" alt="" class="img-circle img-fluid">
                              </div>
                            </div>
                            <div class=" profile-bottom text-center">
                              <!-- <div class=" col-sm-6 emphasis">
                                <p class="ratings">
                                  <a>4.0</a>
                                  <a href="#"><span class="fa fa-star"></span></a>
                                  <a href="#"><span class="fa fa-star"></span></a>
                                  <a href="#"><span class="fa fa-star"></span></a>
                                  <a href="#"><span class="fa fa-star"></span></a>
                                  <a href="#"><span class="fa fa-star-o"></span></a>
                                </p>
                              </div> -->
                              <div class=" col-sm-12 emphasis">
                                <button type="button" class="btn btn-success btn-sm"> <i class="fa fa-user">
                                  </i> <i class="fa fa-comments-o"></i> </button>
                                <button type="button" class="btn btn-primary btn-sm">
                                  <i class="fa fa-user"> </i> View Profile
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }) %>


                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <%- include('../partials/footer') %>
        <!-- /footer content -->
      </div>
    </div>

    <%- include('../partials/scripts') %>
  </body>
</html>
